<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Interlocutrice</h2>
              <hr class="light">

              <p class="text-faded">
                Macha développe des applications mobiles et anime des formations dans ce domaine.
              </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="{{ site.data.members.macha.website }}" class="social-link">
                <img src="{{ site.data.members.macha.image }}" alt="{{ site.data.members.macha.name }}" class="person wow bounceIn">
                <p>{{ site.data.members.macha.name }}</p>
              </a>
              <p class="description">
                Born to be mobile, Macha enjoys working on complete application
                from conception to publication.
                When not developing on mobile, she likes to share her knowledge.
                Macha also loves to run, to freedive and to chill at the beach.
              </p>
              <p>
                <a href="https://www.linkedin.com/in/{{ site.data.members.macha.linkedin }}" target="_blank" class="social-link" title="Macha on LinkedIn">
                  <i class="fa fa-linkedin fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="https://twitter.com/{{ site.data.members.macha.twitter }}" target="_blank" class="social-link" title="@{{ site.data.members.macha.twitter }} on Twitter">
                  <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="https://gitlab.com/{{ site.data.members.macha.gitlab }}" target="_blank" class="social-link" title="{{ site.data.members.macha.gitlab }} on GitLab">
                  <i class="fa fa-gitlab fa-2x wow bounceIn" data-wow-delay=".4s"></i>
                </a>
              </p>
            </div>
        </div>
    </div>
</section>
