<section class="mdl-layout__tab-panel is-active" id="ilove">
  <div class="mdl-grid portfolio-max-width">

    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp" >
      <div class="mdl-card__supporting-text">
        <div lang="en">
        <h3 class="mdl-color-text">
          'I Love' starts with <br/>an original heart.<br/>
          <br/>
          Only its size, its speed <br/>and its color evolved.<br/>
          <br/>
          Get inspired <br/>by motivational quotes.<br/>
          <br/>
          And discover an amazing story <br/>by catch ♡.</h3>
        </div>
        <div lang="fr" hidden >
          <h3 class="mdl-color-text">
          'I Love' vous distrait <br/>avec ses coeurs,<br/>
          <br/>
          De tailles diverses, <br/>de toutes les couleurs.<br/>
          <br/>
          Et dansant <br/>sur un rythme endiablé.<br/>
          <br/>
          Une belle poésie <br/>vous est contée.</h3>
        </div>
      </div>
    </div>
      <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__supporting-text screen">
          <center><img height="500px" src="https://raw.githubusercontent.com/chillcoding-at-the-beach/my-cute-heart/master/assets/0_ilove-main.png" alt="Main screen of I Love"/></center>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <a href="https://play.google.com/apps/testing/com.chillcoding.ilove" target="_blank" style="text-decoration: none">
      <div class="mdl-card__supporting-text">
        <div lang="en">
        <p>
          <center>
            <h1>I Love in Open Beta</h1>
            <h3>Available on Google Play</h2>
            <br/>
            <i class="fab fa-google-play fa-5x"></i><br/>
            <br/>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
              Download 'I Love'
            </button>
          </center>
        </p>
      </div>
      <div lang="fr" hidden >
        <p>
          <center>
            <h1>I Love en test ouvert</h1>
            <h3>Disponible sur Google Play</h2>
            <br/>
            <i class="fab fa-google-play fa-5x"></i><br/>
            <br/>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
              Télécharger 'I Love'
            </button>
          </center>
        </p>
      </div>
      </div>
    </a>
    </div>
  </div>
</section>
